.row-header {
  margin: 0px auto;
  padding: 0px 0px; 
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; 
}

.footer {
  background-color: #444444;
  color: #ff6347;
  margin: 0px auto;
  padding: 20px 0px; 
}

body {
  background-color: aquamarine;
  padding: 70px 0px 0px 0px;
  z-index: 0; 
}

.navbar-dark {
  background-color: #444444; 
}

.modal-header {
  background: #444444;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background: #D1C4E9; 
}

.my-container {
  border: .3em #ff6347;
  border-style: solid;
}

.my-row {
  border: .2em black;
  border-style: solid;
}

.my-col {
  border: .1em red;
  border-style: dashed;
}